# Ignore these files which are expected to be symlinks into files in the hosts/ directory
/systemSettings.nix

# secrets
home-manager/komodo-periphery.nix
hosts/argon/periphery/periphery.config.toml
hosts/mediaserver2/periphery/periphery.config.toml
modules/sshkeys.nix
omv-mediaauthor.secrets
